<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
  <div class="main-container">
    <div class="users">
      <div th:each="user : ${users}">
        <p th:text="'User name is ' + ${user.username} + ' and email is ' + ${user.email}"></p>
        <div th:each="role: ${user.roles}">
          <p th:text="'Role granted ' + ${role.name}"></p>
        </div>
        <div th:each="role: ${user.nonAssignedRoles}">
          <form method="post" th:action="@{/users/__${user.username}__/roles/__${role.name}__}">
            <button type="submit" th:text="'Add role ' + ${role.name}"></button>
          </form>
        </div>

        <form method="post" th:action="@{/users/remove/__${user.username}__}">
          <button type="submit">DELETE FOREVER</button>
        </form>
      </div>
    </div>
  </div>

  <div class="user-form">
    <form method="post" th:object="${userForm}" th:action="@{/users/add}">
      <label for="username">Username</label>
      <input id="username" th:field="*{username}"/>

      <label for="email">Email</label>
      <input id="email" th:field="*{email}"/>

      <label for="password">Password</label>
      <input id="password" type="password" th:field="*{password}"/>

      <label for="passwordConfirmation">Confirm Password</label>
      <input id="passwordConfirmation" type="password" th:field="*{confirmPassword}"/>

      <button type="submit">Create User</button>
    </form>
  </div>

</body>
</html>